@model ApplicazionePizzeria2._0.Models.Ordine

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Edit</h1>

            <h4>Ordine</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdOrdine" />
                        <div class="form-group">
                            <label asp-for="indirizzoSpedizione" class="control-label"></label>
                            <input asp-for="indirizzoSpedizione" class="form-control" />
                            <span asp-validation-for="indirizzoSpedizione" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdUtente" class="control-label"></label>
                            <select asp-for="IdUtente" class="form-control" asp-items="ViewBag.IdUtente"></select>
                            <span asp-validation-for="IdUtente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NoteAggiuntive" class="control-label"></label>
                            <input asp-for="NoteAggiuntive" class="form-control" />
                            <span asp-validation-for="NoteAggiuntive" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
