@using System.Security.Claims;

@{
	var userName = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ApplicazionePizzeria2._0</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ApplicazionePizzeria2._0.styles.css" asp-append-version="true" />
	@*  link per usare TOASTER      *@
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

	@*  link per usare le BOOTSTRAP ICONS      *@
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body class="min-vh-100 imgHome">

	<header>
		<nav style="background-color:saddlebrown" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
			<div class="container-fluid">
				<img class="imgPosition2 me-3" src="../imgs/pizzaa.png" />
				<a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Ahò Pizza</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						@{
							if (User.Identity.IsAuthenticated)
							{
								<li class="nav-item">
									<a class="nav-link text-light" asp-controller="Login" asp-action="Index">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-controller="Login" asp-action="LogOut"> Log-Out</a>
								</li>
								<li class="nav-item d-flex align-items-center">
									<span class="@(!User.IsInRole("admin") ? "text-info fw-bold" : "text-danger fw-bold")">
										Benvenuto @userName @(!User.IsInRole("admin") ? "(utente)" : "(ADMIN)")
									</span>
								</li>

								if (!User.IsInRole("admin"))
								{
									<li class="nav-item ms-auto">

										<a asp-controller="Ordine" asp-action="RiepilogoOrdine" class="nav-link text-light"> Riepilogo Dei Tuoi ordini  </a>
									</li>
									<li class="nav-item">

										<a asp-controller="Carrello" asp-action="Index" class="nav-link text-light"> Carrello  </a>
									</li>
								}

							}
							else
							{
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
								</li>


								<li class="nav-item ms-auto">
									<a class="nav-link text-light" asp-action="Registrazione" asp-controller="Login"> Registrati </a>
								</li>
							}
						}
					</ul>
				</div>

			</div>
		</nav>
	</header>
	<div>
		<div class="container-fluid>
			<main role="main">
				<partial name="_notifications" />
			@RenderBody()
			</main>
		</div>
	</div>


 	<footer style="background-color:saddlebrown;" class=" w-100 position-absolute bottom-0 p-3">
		<div class="container">
			<div class="text-light">
				&copy; 2024 - ApplicazionePizzeria2._0 - Privacy
			</div>
		</div>
	</footer>   
	 
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
		
	}
</body>
</html>
