@model ApplicazionePizzeria2._0.Models.Prodotto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prodotto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProdotto" />
            <div class="form-group">
                <label asp-for="NomeProdotto" class="control-label"></label>
                <input asp-for="NomeProdotto" class="form-control" />
                <span asp-validation-for="NomeProdotto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoProdotto" class="control-label"></label>
                <input asp-for="FotoProdotto" class="form-control" />
                <span asp-validation-for="FotoProdotto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrezzoProdotto" class="control-label"></label>
                <input asp-for="PrezzoProdotto" class="form-control" />
                <span asp-validation-for="PrezzoProdotto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoConsegna" class="control-label"></label>
                <input asp-for="TempoConsegna" class="form-control" />
                <span asp-validation-for="TempoConsegna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredienti" class="control-label"></label>
                <input asp-for="Ingredienti" class="form-control" />
                <span asp-validation-for="Ingredienti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
